body{
  background:black;
  color:white;
  font-family:Arial;
  text-align:center;
}

button{
  padding:16px;
  margin:10px;
  font-size:18px;
  border-radius:10px;
  border:none;
}

video{
  width:90%;
  max-width:600px;
  margin-top:20px;
}

#qr{
  margin-top:20px;
}
